################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.visualgdb
/.vs
/build
/out/build/x64-Debug
